<section class="sign-up-section">
  <div class="left-part">
    <img src="../../../assets/signUp.jpeg" alt="img-sign-up" />
    <div class="overlay">step into our magical world by signing up here</div>
  </div>
  <div class="right-part">
    <form [formGroup]="formSignUp" class="form-signup">
      <div class="form-control">
        <label for="fname">Full name:</label><br />
        <input
          formControlName="name"
          type="text"
          id="fname"
          name="fname"
        /><br />
      </div>

      <!--  Display Error Message   -->
      <div *ngIf="formSignUp.controls.errors"></div>

      <div class="form-control">
        <label for="email">Email:</label><br />
        <input type="text" id="email" name="email" />
      </div>

      <div class="form-control">
        <label for="password">Password:</label><br />
        <input type="password" id="password" name="password" />
      </div>
      <div class="form-control">
        <label for="password">confirm password:</label><br />
        <input type="password" id="password" name="password" />
      </div>
      <div class="form-control">
        <input type="submit" value="Sign Up" />
      </div>
    </form>
  </div>
</section>

<!--  Demonstration only -->
<div>{{ formSignUp.errors | json }}</div>
<div>{{ formSignUp.value | json }}</div>
