<section class="sign-up-section">
  <div class="left-part">
    <img src="../../../assets/signUp.jpeg" alt="img-sign-up" />
    <div class="overlay">step into our magical world by signing up here</div>
  </div>
  <div class="right-part">
    <form [formGroup]="formSignUp" (ngSubmit)="register()" class="form-signup">
      <app-input
        label="Name"
        [control]="formSignUp.controls.userName"
      ></app-input>
      <app-input
        label="Email"
        [control]="formSignUp.controls.email"
      ></app-input>
      <app-input
        label="Password"
        [control]="formSignUp.controls.password"
      ></app-input>
      <button type="submit" class="btn btn-primary mt-3">Sing Up</button>
    </form>
    <p *ngIf="messageError" class="error">{{ messageError }}</p>
  </div>
</section>
