<section class="login-section">
  <div class="left-part">
    <img src="../../../assets/signUp.jpeg" alt="img-sign-up" />
    <div class="overlay">Login we are waiting for you!!</div>
  </div>
  <div class="right-part">
    <form class="login-form">
      <div class="form-control">
        <label for="username">username:</label><br />
        <input type="text" id="username" name="username" /><br />
      </div>
      <div class="form-control">
        <label for="password">password:</label><br />
        <input type="text" id="password" name="password" />
      </div>

      <div class="buttons">
        <button type="submit" class="login-btn">Login</button>
      </div>
    </form>
  </div>
</section>
