
<section class="sign-in-section">
    <div class="left-part"> 
        <img src="../../../assets/signUp.jpeg" alt="img-sign-up">
        <div class="overlay">
            step into our magical world by logging in up here
        </div>
    </div>
    <div class="right-part">
     <form class="form-signin">
        
            <div class="form-control">
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email">
            </div>

            <div class="form-control">
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password">
            </div>
            <div class="form-control">
                <input type="submit" value="Log In">
            </div>
         
     </form>
    </div>
</section>
