<div class="lay-out">
  <div class="back-cover">
    <app-todo-form (onAddTask)="handleAddingTask($event)"></app-todo-form>
  </div>
  <div class="blank-body">
    <app-todo-stats
      (getAllTaskBtn)="getAllTasks()"
      (getCompleteTaskBtn)="getCompletedTasks()"
      (getActiveTaskBtn)="getActiveTasks()"
      [taskCount]="taskCount"
    ></app-todo-stats>
    <app-todo-task
      (onDeleteTask)="onDeleteTask()"
      [tasks]="tasksList"
    ></app-todo-task>

    <p *ngIf="messageNoTasks && tasksList.length == 0">{{ messageNoTasks }}</p>
  </div>
</div>
