<div class="lay-out">
  <div class="back-cover">
    <app-todo-form
      (searchTerm)="ongetSearchTerm($event)"
      (onAddTask)="handleAddingTask($event)"
    ></app-todo-form>
  </div>
  <div class="blank-body">
    <!-- start dropDown -->
    <div style="width: 20%">
      <select
        class="form-select"
        [(ngModel)]="sortBy"
        (ngModelChange)="onSelectOption($event)"
      >
        <option>SortBy</option>
        <option *ngFor="let option of optionsSortingBy">
          {{ option.value }}
        </option>
      </select>
    </div>
    <!-- End dropDown -->
    <app-todo-stats
      (getAllTaskBtn)="getAllTasks()"
      (getCompleteTaskBtn)="getCompletedTasks()"
      (getActiveTaskBtn)="getActiveTasks()"
      (clearCompletedBtn)="togglleModelvisibilty()"
      [taskCount]="taskCount"
    ></app-todo-stats>
    <app-todo-task
      (onDeleteTask)="onDeleteTask()"
      [page]="page"
      [pageSize]="pageSize"
      [tasks]="tasksList"
    ></app-todo-task>

    <p *ngIf="messageNoTasks && tasksList.length == 0">{{ messageNoTasks }}</p>
    <p *ngIf="noTasksWithCriteria && tasksList.length == 0">
      {{ noTasksWithCriteria }}
    </p>
  </div>
</div>

<app-modal
  *ngIf="modelOpen"
  (clearConfirm)="clearCompletedTasks()"
  (close)="togglleModelvisibilty()"
></app-modal>
<!-- Pagination  -->
<div class="d-flex justify-content-between border">
  <div class="paginator" *ngIf="tasksList.length">
    <ngb-pagination
      (pageChange)="onChangePage()"
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="tasksList.length"
    ></ngb-pagination>
  </div>

  <div>
    <label>Items Per Page</label>
    <select
      class="form-select"
      [(ngModel)]="limit"
      (ngModelChange)="onSelectNumOfItemsInPage($event)"
    >
      <option *ngFor="let option of numOfItemsInpage">
        {{ option.value }}
      </option>
    </select>
  </div>
</div>

<!-- End Pagination -->
