<div class="lay-out">
  <div class="back-cover">
    <app-todo-form
      (searchTerm)="ongetSearchTerm($event)"
      (onAddTask)="handleAddingTask($event)"
    ></app-todo-form>
  </div>
  <div class="blank-body">
    <app-todo-stats
      (getAllTaskBtn)="getAllTasks()"
      (getCompleteTaskBtn)="getCompletedTasks()"
      (getActiveTaskBtn)="getActiveTasks()"
      (clearCompletedBtn)="togglleModelvisibilty()"
      [taskCount]="taskCount"
    ></app-todo-stats>
    <app-todo-task
      (onDeleteTask)="onDeleteTask()"
      [tasks]="tasksList"
    ></app-todo-task>

    <p *ngIf="messageNoTasks && tasksList.length == 0">{{ messageNoTasks }}</p>
    <p *ngIf="noTasksWithCriteria && tasksList.length == 0">
      {{ noTasksWithCriteria }}
    </p>
  </div>
</div>

<app-modal
  *ngIf="modelOpen"
  (clearConfirm)="clearCompletedTasks()"
  (close)="togglleModelvisibilty()"
></app-modal>
