.states {
  display: flex;
  border: 1px solid #000;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
  width: 700px;
  .items-count {
    flex-basis: 20%;
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .taskCount {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      border-radius: 50%;

      border: 1px solid black;
    }
  }
  .task-states {
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
      font-size: 20px;
      cursor: pointer;
    }
  }
  .clear-completed {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    a {
      text-decoration: none;
      font-size: 20px;
      color: red;
    }
  }
}
