.states{
    display: flex;
    border: 1px solid #000;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    width: 600px;
    .items-count{
      flex-basis: 20%;
      font-size: 15px;
      text-transform: uppercase;
    }
    .task-states{
      flex-basis: 50%;
      display: flex;
      justify-content: space-around;
      a{
        text-decoration: none;
        font-size:20px;
      }
    }
    .clear-completed{
      a{
        text-decoration: none;
        font-size: 20px;
        color: red;

      }
    }

  }