.form-control {
  margin: 50px 0;
  border: none;
  &:last-child {
    margin-bottom: 0;
  }
  label {
    font-size: 25px;
    letter-spacing: 1.2px;
    color: gray;
    text-transform: uppercase;
  }
  input[type="text"],
  input[type="password"] {
    width: 80%;
    // margin: 5px 0;
    height: 40px;
    font-size: 25px;
    border: none;
    border-bottom: 1px solid rgb(87, 85, 85);
    outline: none;
  }
  input[type="submit"] {
    width: 80%;
    padding: 10px;
    background-color: rgba(157, 135, 233, 0.8);
    border: none;
    font-size: 25px;
    letter-spacing: 1.3px;
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: translateY(-2px);
    }
  }
}

.error-message {
  color: red;
  font-weight: bold;
  // margin-left: 5px;
}
