
<div class="navBar">
    <div class="navBar-logo">
       
            <span class="logo-icon"> <i class="fab fa-angellist"></i></span>
            <span class="logo-text">TODOS</span>
        
    </div>

    <div class="linksWrapper">
        <a href="#" class="nav-link"> home </a>
        <a href="#" class="nav-link"> about us </a>
        <a href="#" class="nav-link"> Testmonials  </a>
        <a href="#" class="nav-link"> Link </a>
    </div>

    <div class="nav-info">
        <div class="nav-info-setting">
            <i class="fa fa-cogs"></i>
        </div>
        <div class="nav-info-profile">
             <i class="far fa-user-circle"></i> 
        </div>
    </div>
</div>

