<div class="nav-bar">
  <div class="navBar-logo" [routerLink]="''">
    <span class="logo-icon"> <i class="fab fa-angellist"></i></span>
    <span class="logo-text">TODOS</span>
  </div>

  <div class="linksWrapper">
    <a href="#" class="nav-link"> home </a>
    <ng-container *ngIf="!(isLoggedIn$ | async)">
      <a [routerLink]="'/login'" class="nav-link"> Login </a>
      <a [routerLink]="'/signup'" class="nav-link"> Sign Up </a>
    </ng-container>
  </div>
  <ng-container *ngIf="isLoggedIn$ | async">
    <button type="button" (click)="logOutUser()">logout</button>
  </ng-container>

  <div class="nav-info">
    <div class="nav-info-setting">
      <!-- <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Toggle dropdown
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div> -->
      <!-- <div class="nav-info-profile">
      <i class="far fa-user-circle"></i>
    </div> -->
    </div>
  </div>
</div>
